@model Note
@{
    if (Model != null && Model.NoteID != Guid.Empty)
    {
        ViewData["Title"] = "Edit Note";
    }
    else
    {
        ViewData["Title"] = "Create New Note";
    }
}

<div class="note-editor">
    <div class="note-editor_panel">
        <div class="note-editor_header">
            <h1 class="note-editor_panel-title">
                @if (Model != null && Model.NoteID != Guid.Empty)
                {
                    <span>Edit Your Note</span>
                }
                else
                {
                    <span>Create Your Note</span>
                }
            </h1>
        </div>

        <form asp-action="NoteEditor" method="post">
            <div class="note-editor_panel-body">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label class="note-editor_input-label" asp-for="Subject">Subject</label>
                    <input class="form-control note-editor_subject-input" asp-for="Subject" />

                </div>
                <div class="form-group">
                    <label class="note-editor_input-label" asp-for="Detail">Your Note</label>
                    <textarea class="form-control note-editor_detail-input" asp-for="Detail" id="TextArea"
                              rows="12" cols="20"></textarea>
                </div>
            </div>
            <div class="panel-footer">
                <div class="note-editor_flex-container">
                    @if (Model != null && Model.NoteID != Guid.Empty)
                    {
                        <a class="btn btn-sm note-editor_button" asp-action="NoteDetail" asp-route-id="@Model.NoteID">Cancel</a>
                    }
                    else
                    {
                        <a class="btn btn-sm note-editor_button" asp-action="Index">Cancel</a>
                    }

                    <button class="btn btn-sm note-editor_button" type="submit">Save Note</button>
                </div>
            </div>
        </form>
    </div>
</div>





